<!-- footer Start -->
<footer>
  <div class="footer-manu">
    <a href="{{ site.url }}{{ site.baseurl }}/collection"><img src="{{ site.url }}{{ site.baseurl }}/img/footer-logo.png" alt="Logo"></a>
    <p>The PBR: Digital Media Center is the flagship project of the <a href="{{ site.url }}{{ site.baseurl }}/collection">PAPER BEATS ROCK COLLECTION</a>.
      <br/>Theme Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
  </div>
</footer>
